html {
	height: 100%;
}
body {
	background-color: #eeeeec;
	position: relative;
	min-height: 100%;
	padding-bottom: 2.8em;
	box-sizing: border-box;
}
body > header,
body > footer {
	width: 100%;
	text-align: center;
	background-color: #062747;
	color: #eeeeec;
	margin: auto;
}
body > footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 2.8em;
}
body > header > img {
	padding: 1%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body > footer > p {
	font-size: 0.8em;
	margin-bottom: 0;
}
body > main > section > video {
	margin-left: auto;
	margin-right: auto;
	max-width: 52em;
	display: block;
}
body > main > section > article {
	margin-left: auto;
	margin-right: auto;
	max-width: 50em;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
	overflow: auto;
}
body > main > section > article[style] {
	max-width: inherit;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: #eeeeec;
	padding-top: 0;
	padding-bottom: 0;
}
body > main > section > article[style] > header {
	padding-top: 6em;
	padding-bottom: 6em;
	text-shadow: 0px 0px 2px #062747;
}
body > main > section > article[style] > footer > p {
	text-shadow: 0px 0px 2px #062747;
	font-size: 0.8em;
	text-align: right;
}
body > main > section > article > header {
	text-align: center;
}
body > main > section > article > video {
	width: 100%;
	height: auto;
}
body > main > section > article > figure,
body > main > section > article > video {
	margin: 0;
	max-width: 25em;
	margin: auto;
}
body > main > section > article > figure > img,
body > main > section > article > figure > a > img {
	height: auto;
	width: 100%;
	display: block;
}
body > main.nav > section > article {
	padding-top: 2em;
	padding-bottom: 0;
	padding-left: 1em;
	padding-right: 1em;
}
.hide {
	display: none !important;
}
article.onlygraphic, article.entrypoints {
	padding: 0em 1em;
	max-width: 50em;
}
article.onlygraphic > video,
article.onlygraphic > figure {
	max-width: 50em;
}
body > main > section > article > main > iframe {
	width: 100%;
	height: 720px;
	border: none;
}
div#c-forms-form, div.c-dropdown {
  position: static !important;
}
div.c-dropdown-button {
	display: none;
}
img#loadinggif {
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	display: block;
}
.job-position,
.news-post {
	padding: 1em 1em;
}
.job-position h2,
.news-post h2 {
	margin-bottom: 0;
}
.job-position h5,
.news-post h5 {
	margin-top: 0.5em;
}
.floatright {
	float:right;
}
.floatleft {
	float:left;
}
.clear {
	clear: both;
}
.halfwidth {
	width: 50%;
}
.small-image {
	width: 220px;
}
figure.boxedimg {
	background-color: #F3F3F2;
	padding: 0.5em;
	border: 1px solid #CCC;
	margin: 0.5em 0em 0.5em 0.5em
}
figure.boxedimg > figcaption,
figure.boxedimg > img {
	text-align: center;
	float: inherit;
	font-size: 0.8em;
	width: 100%;
}
.video-container {
	margin: 1em 0em;
	overflow: hidden;
}
.video-container iframe {
	width: 100%;
	height: 100%;
}
.news-archive li {
	margin-bottom: 1em;
}
.news-archive {
	list-style: none;
}
body > main > section > article > header > div > h5 {
	margin: 0;
}
article.news-post figure.boxedimg {
	width: 220px;
	margin: auto;
}
@media only screen and (min-width: 52em) {
	body > main > section > article.graphic {
		text-align: center;
	}
	body > main > section > article.graphic > * {
		direction: ltr;
		text-align: justify;
	}
	body > main > section > article.graphic > figure,
	body > main > section > article.graphic > video,
	body > main > section > article.entrypoints > figure,
	body > main > section > article.graphic > main {
		display: inline-block;
		vertical-align: middle;
		width: 50%;
	}
	body > main > section > article.graphic:nth-child(odd) {
		direction: rtl;
	}
	body > main > section > article.graphic:nth-child(even) {
		direction: ltr;
	}
	body > main > section > article.graphic:nth-child(odd) > figure,
	body > main > section > article.graphic:nth-child(odd) > video,
	body > main > section > article.entrypoints:nth-child(odd) > figure,
	body > main > section > article.graphic:nth-child(even) > main {
		margin-left: -0.3em;
	}
	body > main > section > article.graphic:nth-child(even) > main {
		padding-left: 2em;
		width: calc(50% - 2em);
	}
	body > main > section > article.graphic:nth-child(odd) > main {
		padding-right: 2em;
		width: calc(50% - 2em);
	}
	body > main > footer,
	body > main > section > article > header,
	body > main > section > article > footer,
	body > main > section {
		clear: both;
	}
	article.news-post figure.boxedimg {
		float: right;
		margin: 0.5em 0em 0.5em 0.5em
	}
}
