/*
	Styling for CSS-based drop-down menus.
	(C) Copyright 2006 Just Software Solutions Ltd.
	Distributed under the Boost Software License, Version 1.0.
	(See http://www.boost.org/LICENSE_1_0.txt)
	(c) copyright 2015 Imint AB
*/
#nav a,
#nav a:link,
#nav a:hover,
#nav a:visited {
	text-decoration: none;
	color: #eeeeec;
	padding: 0.2em;
}
#nav {
	width: 100%;
	background-color: #a73e10;
	text-transform: lowercase;
	display: none; /*Don't display when page is loading, it will be set to display block with the class .js-ready*/
}
#nav ul li
{
	list-style-type: none;
	border: 1px solid #a73e10;
	color: #eeeeec;
	background-color: #a73e10;
}
#nav ul {
	padding: 0em 1em;
	margin: 0 auto;
	max-width: 50em;
}
#nav ul ul,
#nav ul li {
	padding: 0;
	margin: 0;
	text-align: left;
}
nav > div > ul > li {
	float: left;
}
#nav ul ul {
	display: none;
	position: absolute;
	margin-left: -3px;
}
#nav ul li:hover > ul {
	display: block;
}
#nav ul a {
	color: white;
	background: none;
	display: block;
	text-decoration: none;
}
#nav ul span {
	display: block;
}
#nav + * {
	clear: left;
}
.close-btn {
	display: block;
	width: 2.625em;
	height: 2.25em;
	padding: 0;
	border: 0;
	outline: none;
	background: #a73e10 url("../img/close-btn.svg") left center no-repeat;
	background-size: 1.875em 1.875em;
	white-space: nowrap;
	text-indent: 100%;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-svg .close-btn {
backg	round-image: url("../img/close-btn.png");
}
.close-btn:focus, .close-btn:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
.nav-btn {
	display: block;
	width: 2.625em;
	height: 2.25em;
	padding: 0;
	border: 0;
	outline: none;
	background: #062747 url("../img/nav-icon.svg") left center no-repeat;
	background-size: 1.875em 1.5em;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-svg .nav-btn {
	background-image: url("../img/nav-icon.png");
}
.nav-btn:hover, .nav-btn:focus {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
#top .nav-btn {
	position: absolute;
	top: 3.5em;
	left: 1.875em;
}
#nav {
	z-index: 200;
	position: relative;
	width: 100%;
}
#nav .close-btn {
	display: none;
}
#nav ul {
	*zoom: 1;
	display: block;
}
#nav ul:before, #nav ul:after {
	content: "";
	display: table;
}
#nav ul:after {
	clear: both;
}
#nav li {
	display: block;
}
#nav li a {
	display: block;
	outline: none;
}
#nav li a:focus, #nav li a:hover {
	color: #fff;
	background: rgba(255, 255, 255, 0.1);
}
#nav li.is-active a {
	color: #fff;
}
#nav ul ul {
	display: none;
	position: absolute;
}
#nav ul li:hover > ul {
	display: block;
}
#nav ul ul li {
	display: block;
}
@media screen and (min-width: 52em) {
	#top .nav-btn {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	#nav .close-btn {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	#nav ul {
		text-align: center;
		white-space: nowrap;
	}
	#nav li {
		display: inline-block;
	}
	#nav li:last-child {
		border-right: none;
	}
	#nav div > ul > li:nth-child(1),
	#nav div > ul > li:nth-child(1) > a {
		border-left-width: 0;
		padding-left: 0;
	}
	#nav {
		display: block;
	}
	#nav ul ul ul {
		margin-top: -28%;
		left: 102%;
	}
	#nav ul ul ul ul {
		margin-top: -16.5%;
		left: 101%;
	}
}
@media screen and (max-width: 51.99em) {
	#nav ul li > ul {
		padding-left: 1em;
	}
	#nav ul ul {
		position: relative;
	}
	#nav {
		overflow: hidden;
	}
	#nav {
		position: absolute;
		top: 0;
		padding-top: 5.25em;
	}
	#nav:not(:target) {
		z-index: 1;
		height: 0;
	}
	#nav:target .close-btn {
		display: block;
	}
	#nav .close-btn {
		position: absolute;
		top: -3.75em;
		left: 1em;
	}
	#nav .block {
		position: relative;
		padding: 0;
	}
	#nav li {
		position: relative;
		float: none;
	}
	#nav li.is-active:after {
		z-index: 50;
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		right: -0.03125em;
		margin-top: -0.625em;
	}
	#nav li a {
		padding: 0.85714em 2.14286em;
	}

	.js-ready #nav {
		height: 92%;
		width: 40%;
		display: block;
		/*-webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
		-moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
		box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);*/
	}
	.js-ready #nav .block {
		background: transparent;
	}
	.js-ready #nav .close-btn {
		display: block;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
		opacity: 0.7;
	}
	.js-ready #nav .close-btn:focus, .js-ready #nav .close-btn:hover {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
	}

	.js-ready #nav {
		left: -70%;
	}
	.js-ready #inner-wrap {
		left: 0;
	}

	.js-nav #inner-wrap {
		left: 70%;
	}

	.csstransforms3d.csstransitions.js-ready #nav {
		left: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		-moz-transform: translate3d(-100%, 0, 0);
		-ms-transform: translate3d(-100%, 0, 0);
		-o-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	.csstransforms3d.csstransitions.js-ready #inner-wrap {
		left: 0 !important;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition: -webkit-transform 500ms ease;
		-moz-transition: -moz-transform 500ms ease;
		-o-transition: -o-transform 500ms ease;
		transition: transform 500ms ease;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	.csstransforms3d.csstransitions.js-nav #inner-wrap {
		-webkit-transform: translate3d(40%, 0, 0) scale3d(1, 1, 1);
		-moz-transform: translate3d(40%, 0, 0) scale3d(1, 1, 1);
		-ms-transform: translate3d(40%, 0, 0) scale3d(1, 1, 1);
		-o-transform: translate3d(40%, 0, 0) scale3d(1, 1, 1);
		transform: translate3d(40%, 0, 0) scale3d(1, 1, 1);
	}

	.csstransforms3d.csstransitions.js-ready #nav .block {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
		opacity: 0.7;
		-webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
		-webkit-transition-delay: ease, 0s;
		-moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease;
		-o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease;
		transition: opacity 300ms 100ms ease, transform 500ms ease;
		-webkit-transform: translate3d(40%, 0, 0) scale3d(0.9, 0.9, 0.9);
		-moz-transform: translate3d(40%, 0, 0) scale3d(0.9, 0.9, 0.9);
		-ms-transform: translate3d(40%, 0, 0) scale3d(0.9, 0.9, 0.9);
		-o-transform: translate3d(40%, 0, 0) scale3d(0.9, 0.9, 0.9);
		transform: translate3d(40%, 0, 0) scale3d(0.9, 0.9, 0.9);
		-webkit-transform-origin: 50% 0%;
		-moz-transform-origin: 50% 0%;
		-ms-transform-origin: 50% 0%;
		-o-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
	}

	.csstransforms3d.csstransitions.js-nav #nav .block {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
