<article
			{{ if or (isset .Params "image") (isset .Params "video") }}
				{{ if .Content }}
					class="graphic"
				{{ else }}
					class="onlygraphic"
				{{ end }}
			{{ end }}
			{{ if isset .Params "background" }}
				style="background-image: url({{ .RelPermalink }}{{ .Params.background }})"
			{{ end }}>
	<header><h1>{{ .Title }}</h1></header>
	{{ if isset .Params "image" }}
		<figure>
			<img src="{{ .RelPermalink }}{{ .Params.image }}">
		</figure>
	{{ end }}
	{{ if isset .Params "video" }}
		<video poster="{{ .RelPermalink }}{{ .Params.poster }}" controls="">
			<source src="{{ .RelPermalink }}{{ .Params.video }}" type="video/mp4">
				Your browser does not support the video tag.
		</video>
	{{ end }}
	<main>
		{{ if eq .Type "quote" }}
			{{ .Render "quote" }}
		{{ else }}
			{{ .Content}}
		{{ end }}
		</main>
	<footer>{{ with .Params.backgroundcopyright }}<p>{{ . }}</p>{{ end }}</footer>
</article>
