<article class="
	{{ if or (isset .Params "image") (isset .Params "video") }}
		{{ if isset .Params "beforeafter" }}
			video
		{{ end }}
		{{ if .Content }}
			graphic
		{{ else }}
			onlygraphic
		{{ end }}
	{{ end }}"
	{{ if isset .Params "background" }}
		style="background-image: url({{ .RelPermalink }}{{ .Params.background }})"
	{{ end }}>
	<header><h1>{{ .Title }}</h1></header>
	{{ if isset .Params "image" }}
		<figure>
			<img src="{{ .RelPermalink }}{{ .Params.image }}">
		</figure>
	{{ end }}
	{{ if isset .Params "video" }}
		<video poster="{{ .RelPermalink }}{{ .Params.poster }}"  {{ if isset .Params "controls" }} controls {{ else }} autoplay loop muted {{ end }}>
			<source src="{{ .RelPermalink }}{{ .Params.video }}" type="video/mp4">
				Your browser does not support the video tag.
		</video>
		{{ if isset .Params "beforeafter" }}
			<h5>without Vidhance</h5>
			<h5>with Vidhance</h5>
		{{ end }}
	{{ end }}
	<main>
		{{ if eq .Type "quote" }}
			{{ .Render "quote" }}
		{{ else }}
			{{ .Content}}
		{{ end }}
		</main>
	<footer>{{ with .Params.backgroundcopyright }}<p>{{ . }}</p>{{ end }}</footer>
</article>
