<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/script/doubleTapToGo.js"></script>
<script src="/script/modernizr.js"></script>
<script src="/script/main.js"></script>

<script>
	$(document).ready(function() {
		$('nav li:has(ul)').doubleTapToGo();
		{{ if isset .Params "form" }}
			$.getScript("https://services.cognitoforms.com/s/0UaHaqFaiUmXjjCMvn0-dA", function() {
					Cognito.load("forms", { id: "{{ .Params.form }}" });
					$("#loadinggif").addClass("hide");
			});
		{{ end }}
	})
</script>
